<div class="section content">
    <h2 class="has-text-centered content">Chattilatti</h2>
    <div *ngIf="!connectedUser" class="section columns is-centered">
        <div class="column is-one-third form">
            <div class="field">
                <label for="iuser">Namn:</label>
                <input type="text" class="input" name="userInput" [(ngModel)]="userInput">
            </div>
            <div class="field">
                <button class="button" (click)="connect()">Anslut</button>
            </div>
        </div>
    </div>

    <div *ngIf="connectedUser">
        <div class="section content">
            <h3 class="has-text-centered">Inloggad som {{connectedUser}}</h3>
            <div class=" is-mobile">
                <div class="outer-chat-container">
                    <div class="section chat-container content has-background-white-ter">
                        <h2>Meddelanden:</h2>
                        <div class="" *ngFor="let item of messageArray">
                            <div class="message-container-left is-mobile" *ngIf="!item.you">
                                <div class="chat-box box level" *ngIf="!item.you">
                                    <span><strong>{{item.user}} : </strong> {{item.message}}</span>
                                </div>
                            </div>
                            <div class="message-container-right is-mobile" *ngIf="item.you">
                                <div class="chat-box box has-background-primary" *ngIf="item.you">
                                    <span><strong>Du : </strong> {{item.message}}</span>
                                </div>
                            </div>
                        </div>
                        <div claass="content" *ngFor="let typer of typers">
                            <div class="is-italic" *ngIf="typer.typing">
                                {{typer.user}} skriver
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Skicka meddelande:</label>
                        <input type="text" class="input" [(ngModel)]="message" (ngModelChange)="!typing ? isTyping() : null"
                            (blur)="notTyping()">
                    </div>
                    <div class="field">
                        <button class="button" (click)="send()">Skicka</button>
                        <button class="button" (click)="disconnect() ">Koppla ned</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>