<nav class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">
      <div class="content">
        <h2>Me-sida</h2>
      </div>
    </a>

    <!-- Hamburger menu -->
    <!-- <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a> -->
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button" routerLink="">
            Hem
          </a>
          <a class="button" routerLink="/reports">
            Redovisa
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>