<div class="section has-background-danger">
  <div class="columns is-vcentered is-home is-centered">
    <div class="column">
      <div class="content">
        <h1 class="has-text-white">
          Welcome to the home of the Cheezy guys!
        </h1>
        <p class="has-text-white is-size-4">
          Start trading with cheez now
        </p>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="content">
        <div class="box">
          <h3 class="has-text-centered">Sign up in seconds!</h3>
          <app-register-form></app-register-form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="has-background-grey-lighter">
  <div class="section content has-text-centered">
    <p>THE RED COLOR SHOULD BE WARNING ENOUGH</p>
    <p class="is-size-7">You can't really trade here. It's all fake...</p>
  </div>
</div>